@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color: #e5e7eb !important;
  background: #0b1220 !important;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror {
  min-height: 150px;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: #111827;
  color: white;
}

/* bg-blue-600 hover:bg-blue-700 */
